.p16 {
  margin: 0;
  text-transform: uppercase;
}
.chachiyet-bleich1 {
  text-transform: capitalize;
}
.span13 {
  text-transform: uppercase;
}
.chachiyet-bleich {
  margin: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.chachiyet-bleich-container {
  position: absolute;
  top: 2026px;
  left: 122px;
  line-height: 40px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 218px;
}
.twenty-three {
  margin: 0;
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
  color: var(--color-black);
}
.kayan-restaurant-container,
.twenty-three-container {
  position: absolute;
  top: 3493px;
  left: 122px;
  line-height: 40px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 220px;
}
.kayan-restaurant-container {
  top: 5002px;
  width: 265px;
}
.cswn4,
.frame5 {
  position: absolute;
}
.cswn4 {
  top: 9288px;
  left: 122px;
  line-height: 40px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 160px;
}
.frame5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  overflow: hidden;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumblue);
}
.branding-child {
  position: absolute;
  height: 0.02%;
  width: 10.39%;
  top: 4.61%;
  right: 84.86%;
  bottom: 95.37%;
  left: 4.75%;
  border-top: 2px solid var(--color-mediumblue);
  box-sizing: border-box;
}
.kaddechiimengmailcom6 {
  font-weight: 500;
}
.kaddechiimengmailcom-0039-container5 {
  position: absolute;
  height: 0.74%;
  top: 98.82%;
  left: calc(50% - 67.5px);
  font-size: var(--font-size-base);
  text-transform: lowercase;
  color: var(--color-gray);
  text-align: center;
  display: inline-block;
  width: 529px;
}
.branding-child1,
.branding-child2,
.branding-inner,
.branding-item {
  position: absolute;
  height: 22.58%;
  width: 79.12%;
  top: 0;
  right: 0;
  bottom: 77.42%;
  left: 20.88%;
  background-color: var(--color-whitesmoke-100);
}
.branding-child1,
.branding-child2,
.branding-inner {
  height: 14.03%;
  top: 23.84%;
  bottom: 62.12%;
}
.branding-child1,
.branding-child2 {
  height: 14.26%;
  top: 39.12%;
  bottom: 46.62%;
}
.branding-child2 {
  height: 43.23%;
  top: 54.66%;
  bottom: 2.11%;
}
.branding-child3,
.branding-child4 {
  position: absolute;
  height: 19.64%;
  width: 70.9%;
  top: 0.59%;
  right: 4.08%;
  bottom: 79.77%;
  left: 25.01%;
  background-color: var(--color-white);
}
.branding-child4 {
  height: 11.09%;
  top: 24.44%;
  bottom: 64.47%;
}
.group-icon {
  position: absolute;
  height: 10.01%;
  width: 47.6%;
  top: 24.91%;
  right: 15.76%;
  bottom: 65.08%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.branding-child5,
.branding-child6 {
  position: absolute;
  height: 11.32%;
  width: 70.9%;
  top: 39.71%;
  right: 4.08%;
  bottom: 48.97%;
  left: 25.01%;
  background-color: var(--color-white);
}
.branding-child6 {
  height: 39.95%;
  top: 55.58%;
  bottom: 4.47%;
}
.branding-child7,
.capture-decran-2023-10-25-a3,
.cs-plan-de-travail-1-1 {
  position: absolute;
  height: 18.79%;
  width: 47.61%;
  top: 0.6%;
  right: 15.75%;
  bottom: 80.61%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.capture-decran-2023-10-25-a3,
.cs-plan-de-travail-1-1 {
  height: 9.99%;
  width: 39.59%;
  top: 40.35%;
  right: 19.74%;
  bottom: 49.66%;
  left: 40.67%;
}
.cs-plan-de-travail-1-1 {
  height: 38.82%;
  width: 61.76%;
  top: 55.58%;
  right: 8.68%;
  bottom: 5.6%;
  left: 29.56%;
}
.hi-i-am13 {
  line-height: 96.52%;
}
.span15 {
  color: var(--color-mediumblue);
}
.imen12 {
  margin: 0;
  font-size: var(--font-size-18xl);
}
.hi-i-am-container6,
.illustration8,
.social-media9 {
  position: absolute;
  text-transform: capitalize;
  cursor: pointer;
}
.hi-i-am-container6 {
  height: 0.71%;
  width: 5.94%;
  top: 0.59%;
  left: 4.75%;
  display: inline-block;
  text-align: justify;
  font-size: var(--font-size-13xl);
}
.illustration8,
.social-media9 {
  top: 8.34%;
  left: 4.81%;
  font-weight: 500;
}
.illustration8 {
  top: 7.45%;
}
.ui9 {
  top: 5.76%;
  cursor: pointer;
}
.about6,
.branding7,
.editorial-design10,
.home6,
.poster-design10,
.ui9 {
  position: absolute;
  left: 4.81%;
  text-transform: capitalize;
  font-weight: 500;
}
.editorial-design10 {
  top: 4.92%;
  cursor: pointer;
}
.about6,
.branding7,
.home6,
.poster-design10 {
  top: 4.08%;
}
.about6,
.home6,
.poster-design10 {
  top: 2.45%;
  cursor: pointer;
}
.about6,
.poster-design10 {
  top: 3.24%;
}
.poster-design10 {
  top: 6.61%;
}
.chahiyet-bleich-was {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.identity-designpackaging-desi {
  margin: 0;
}
.branding-for-23-container,
.branding-for-cswn-container,
.chahiyet-bleich-was-container,
.logo-proposition-for-container {
  position: absolute;
  top: 2026px;
  left: 735px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  width: 860px;
  height: 138px;
}
.branding-for-23-container,
.branding-for-cswn-container,
.logo-proposition-for-container {
  top: 3493px;
}
.branding-for-cswn-container,
.logo-proposition-for-container {
  top: 5002px;
}
.branding-for-cswn-container {
  top: 9288px;
}
.branding6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9629px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
