.p11 {
  margin: 0;
  text-transform: uppercase;
}
.cba-book {
  margin: 0;
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
  color: var(--color-black);
}
.article-230-container,
.cba-book-container {
  position: absolute;
  top: 2708px;
  left: 122px;
  line-height: 40px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 160px;
}
.article-230-container {
  top: 1031px;
}
.omct1 {
  margin: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.cswn2,
.lmakina,
.omct {
  position: absolute;
  line-height: 40px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 160px;
}
.omct {
  top: 4147px;
  left: 146px;
  text-transform: uppercase;
}
.cswn2,
.lmakina {
  top: 5580px;
  left: 122px;
}
.cswn2 {
  top: 6963px;
  text-transform: uppercase;
}
.hi-i-am11 {
  line-height: 96.52%;
}
.span11 {
  color: var(--color-mediumblue);
}
.imen10 {
  margin: 0;
  font-size: var(--font-size-18xl);
}
.hi-i-am-container5 {
  position: absolute;
  top: 57px;
  left: 92px;
  text-transform: capitalize;
  display: inline-block;
  text-align: justify;
  width: 115px;
  height: 68px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.kaddechiimengmailcom5 {
  font-weight: 500;
}
.kaddechiimengmailcom-0039-container4 {
  position: absolute;
  height: 0.93%;
  top: 95.15%;
  left: calc(50% - 158.5px);
  font-size: var(--font-size-base);
  text-transform: lowercase;
  color: var(--color-gray);
  text-align: center;
  display: inline-block;
  width: 529px;
}
.frame4 {
  position: absolute;
  top: 0;
  left: -15px;
  background-color: var(--color-white);
  width: 1935px;
  height: 7604px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumblue);
}
.edi-child {
  position: absolute;
  top: 525px;
  left: 77px;
  border-top: 2px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 201px;
  height: 2px;
}
.edi-child1,
.edi-child2,
.edi-child3,
.edi-child4,
.edi-inner,
.edi-item {
  position: absolute;
  top: 0;
  left: 389px;
  background-color: var(--color-whitesmoke-100);
  width: 1531px;
  height: 1169px;
}
.edi-child1,
.edi-child2,
.edi-child3,
.edi-child4,
.edi-inner {
  top: 1289px;
  height: 1559px;
}
.edi-child1,
.edi-child2,
.edi-child3,
.edi-child4 {
  top: 2972px;
  height: 1318px;
}
.edi-child2,
.edi-child3,
.edi-child4 {
  top: 4412px;
  height: 1306px;
}
.edi-child3,
.edi-child4 {
  top: 5841px;
  height: 1270px;
}
.edi-child4 {
  top: 1346px;
  left: 469px;
  background-color: var(--color-white);
  width: 1372px;
  height: 1283px;
}
.capture-decran-2023-10-25-a,
.capture-decran-2023-10-25-a1 {
  position: absolute;
  top: 57px;
  left: 469px;
  width: 1372px;
  height: 895px;
  object-fit: cover;
}
.capture-decran-2023-10-25-a1 {
  top: 1346px;
  left: 532px;
  width: 1255px;
  height: 1283px;
}
.capture-decran-2023-10-25-a2,
.free-square-psd-book-cover-moc,
.icon5 {
  position: absolute;
  top: 3039px;
  left: 469px;
  width: 1372px;
  height: 1029px;
  object-fit: cover;
}
.capture-decran-2023-10-25-a2,
.icon5 {
  top: 4473px;
  width: 1371px;
  height: 1021px;
}
.capture-decran-2023-10-25-a2 {
  top: 5902px;
  height: 961px;
}
.social-media8 {
  position: absolute;
  top: 803px;
  left: 78px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}
.illustration7 {
  top: 717px;
  cursor: pointer;
}
.about5,
.branding5,
.editorial-design5,
.home5,
.illustration7,
.poster-design9,
.ui8 {
  position: absolute;
  left: 78px;
  text-transform: capitalize;
  font-weight: 500;
}
.ui8 {
  top: 555px;
  cursor: pointer;
}
.about5,
.branding5,
.editorial-design5,
.home5,
.poster-design9 {
  top: 474px;
}
.about5,
.branding5,
.home5,
.poster-design9 {
  top: 393px;
  cursor: pointer;
}
.about5,
.home5,
.poster-design9 {
  top: 236px;
}
.about5,
.poster-design9 {
  top: 312px;
}
.poster-design9 {
  top: 636px;
}
.editorial-book-design {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.cover-design-editorial-container,
.editorial-book-design-container,
.editorial-design-a-container {
  position: absolute;
  top: 1031px;
  left: 725px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  width: 860px;
  height: 138px;
}
.cover-design-editorial-container,
.editorial-design-a-container {
  top: 2708px;
}
.cover-design-editorial-container {
  top: 4147px;
}
.editorial-designcopywriting {
  margin: 0;
}
.brochure-design-editorial-container,
.comic-book-cover-container {
  position: absolute;
  top: 5580px;
  left: 725px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  width: 860px;
  height: 138px;
}
.brochure-design-editorial-container {
  top: 6963px;
}
.edi {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 7349px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
