.divbglayers-comp-ll179fec,
.divlwbaav {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.divlwbaav {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #e8ebea;
}
.divbglayers-comp-ll179fec {
  height: 87.13%;
  top: 6.4%;
  bottom: 6.47%;
  overflow: hidden;
}
.hi-i-am15 {
  line-height: 96.52%;
}
.hi-i-am14 {
  margin: 0;
}
.span16 {
  color: var(--color-mediumblue);
}
.imen14 {
  margin: 0;
  font-size: var(--font-size-18xl);
}
.hi-i-am-container7 {
  position: absolute;
  top: 57px;
  left: 92px;
  text-transform: capitalize;
  display: inline-block;
  width: 115px;
  height: 68px;
}
.frame6,
.text {
  position: absolute;
}
.frame6 {
  height: 87.13%;
  width: 101.04%;
  top: 6.4%;
  right: -1.04%;
  bottom: 6.47%;
  left: 0;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: justify;
}
.text {
  height: 48.05%;
  width: 20.73%;
  top: 25.04%;
  left: 4.84%;
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
  display: inline-block;
}
.kaddechiimengmailcom7,
.text {
  font-weight: 500;
}
.kaddechiimengmailcom7,
.p22 {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.kaddechiimengmailcom-0039321 {
  position: absolute;
  height: 5.54%;
  width: 12.66%;
  top: 81.44%;
  left: 4.84%;
  font-size: var(--font-size-base);
  text-transform: lowercase;
  color: #a49e9e;
  display: inline-block;
}
.section-child {
  position: absolute;
  height: 87.13%;
  width: 79.74%;
  top: 6.4%;
  right: -1.04%;
  bottom: 6.47%;
  left: 21.3%;
  background-color: var(--color-whitesmoke-100);
}
.capture-decran-2023-10-24-a,
.capture-decran-2023-10-24-a1 {
  position: absolute;
  height: 45.55%;
  width: 22.86%;
  top: 43.06%;
  right: 2.6%;
  bottom: 11.39%;
  left: 74.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.capture-decran-2023-10-24-a1 {
  height: 27.3%;
  top: 10.37%;
  bottom: 62.32%;
}
.capture-decran-2023-10-24-a2,
.capture-decran-2023-10-24-a3,
.capture-decran-2023-10-24-a4,
.post-babyliss-womens-day-1-icon {
  position: absolute;
  height: 45.09%;
  width: 19.11%;
  top: 10.37%;
  right: 29.43%;
  bottom: 44.54%;
  left: 51.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.capture-decran-2023-10-24-a3,
.capture-decran-2023-10-24-a4,
.post-babyliss-womens-day-1-icon {
  height: 30.03%;
  width: 23.28%;
  right: 52.34%;
  bottom: 59.59%;
  left: 24.38%;
}
.capture-decran-2023-10-24-a4,
.post-babyliss-womens-day-1-icon {
  height: 27.85%;
  width: 19.11%;
  top: 60.76%;
  right: 29.32%;
  bottom: 11.39%;
  left: 51.56%;
}
.capture-decran-2023-10-24-a4 {
  height: 42.9%;
  width: 23.28%;
  top: 45.71%;
  right: 52.34%;
  left: 24.38%;
}
.section {
  position: absolute;
  width: 100%;
  top: -85px;
  right: 0;
  left: 0;
  height: 1282px;
  font-size: var(--font-size-13xl);
}
.home-child {
  position: absolute;
  height: 0.18%;
  width: 10.47%;
  top: 25.04%;
  right: 84.74%;
  bottom: 74.78%;
  left: 4.79%;
  border-top: 2px solid var(--color-mediumblue);
  box-sizing: border-box;
}
.illustration9,
.social-media10,
.ui10 {
  position: absolute;
  top: 803px;
  left: 93px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}
.illustration9,
.ui10 {
  top: 717px;
}
.ui10 {
  top: 555px;
}
.editorial-design11 {
  top: 474px;
  cursor: pointer;
}
.about7,
.branding8,
.editorial-design11,
.home8,
.poster-design11 {
  position: absolute;
  left: 93px;
  text-transform: capitalize;
  font-weight: 500;
}
.branding8 {
  top: 393px;
  cursor: pointer;
}
.about7,
.home8,
.poster-design11 {
  top: 236px;
}
.about7,
.poster-design11 {
  top: 312px;
  cursor: pointer;
}
.poster-design11 {
  top: 636px;
}
.home7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1114px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
